<footer>
        
        <h2 data-aos="fade-up"><i class="fas fa-map-marker-alt"></i>Colombes</h2>
        <div class="maps">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2621.0347634563086!2d2.26422811518721!3d48.93377967929502!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e665e15629b457%3A0xb73537e2d64e64bb!2s112%20Avenue%20de%20Stalingrad%2C%2092700%20Colombes!5e0!3m2!1sfr!2sfr!4v1606384154425!5m2!1sfr!2sfr" width="100" height="500" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
        <div class="mentions">
            <div class="social">
            <a href="https://github.com/Yankhoba92" target="_blank"><i class="fab fa-github"></i></a>
            <a href="https://github.com/Yankhoba92" target="_blank"><i class="fab fa-linkedin"></i></a>
            </div>
            <p>© 20 Portfolio|Tous droits reservés| Designed by Yankhoba Bagayoko|Mentions légals</p>
        </div>
        

    </footer>

    <a id="back-to-top" href="#top"><i class="fas fa-angle-double-up"></i></a>

 
    




</body>
</html>