@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";
@import "~aos/dist/aos.css";

*{
    box-sizing: border-box;
    transition: all 1.3s;
    margin: 0;

}
body{
    background-color: rgb(4, 23, 58);
    color: white;
    margin: 0;
    overflow-x: hidden;

}
img{
    width: 100%;
}
h2{
    text-align: center;
    padding-bottom: 50px ;
    font-weight:bold; 
}
h3{
    text-align: center;
    padding-bottom: 20px;
    
}
h4{
    font-weight: bold;
}
/* Create the parallax scrolling effect */
header{
    background-image: url(image/codebck.jpg);
    background-repeat:no-repeat;
    height: 600px;
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    overflow-x: hidden;

    
}
.svg_about{
    position: relative;
    margin-top: -104px;
    color:rgb(4, 23, 58);;
}
.navbar-nav{
    justify-content: space-around;
    width: 100%;
}
.navbar{
    position: fixed;
    right: 0;
    left:0;
    top: 0;
    z-index: 1;
}
/* animations js pour la barre de navigation class ajouter dynamiquement */
.anim-nav {
    background-color:rgba(226, 228, 231, 0.705) !important;
    color: #f1f1f1;
}
ul li a{
    color: black !important;
}
ul li a:hover{
    border-bottom: 1px solid black !important;
    color: blue !important;
}
/* annonce styles */
.annonce{
    text-align: center;
    color:white;
    padding: 300px;
}
.annonce h1{
    font-size: 5em;
    font-weight: 500;
    font-family: 'Italianno', cursive;
    font-weight:bold;
}
/* fin annonce styles */
/* About styles */
#about{
    margin:50px;
    padding: 15px;
}
#about p{
    text-align: center;
}
.bouton button{
    border-radius: 9px;
    width: 200px;
    background-color: rgba(252, 252, 252, 0.986);
    text-align: center;
    margin-left: 250px;
}
/* Fin about styles */
/* Competences styles */

#competences{
    background-color:rgb(223, 223, 223);
    color: rgb(4, 23, 58);
}
.container h2{
    text-transform: uppercase;
}
.competences h2{
    text-align: center;
    
}

.competences .row .col-sm{
    margin-bottom:30px;

}
/*fin Competences styles*/
/* styles experiences et formation */
.col-3 {
  
  height: 111px;
  border-radius: 69%;
  color:  rgb(4, 23, 58);
  line-height: 109px;
  text-align: center;
  background:rgb(223, 223, 223);
  margin-top:13px;
  font-weight: bold;
}
/* Conteneur principal */

/* Image originale */
.overlay-image .image {
    width: 100%;
    display: block;
    max-height: 303px;
    max-width: 390px;
    overflow: hidden;
    cursor: pointer !important;
}
/* Texte original */
.overlay-image .text {
color: black;
font-size: 24px;
line-height: 1.5em;
text-align: center;
width: 100%;
}
/*Hover image et texte*/
.realisation .row{
    margin-bottom: 30px;
    overflow: hidden;
}
 

#experiences, #realisations{
    margin-top: 30px;
    margin-bottom: 50px;
}
#experiences .row, #formation .row{
    margin-bottom: 50px;
    margin-left:0;
    margin-right:0;
    align-items: center;
}
.col-8 p{
    text-align: center;
    background-color:rgb(223, 223, 223);
    color: rgb(4, 23, 58);
    font-weight: bold;
}
/* Loisirs styles */
#loisirs .fas{
    margin-left: 164px;
    font-size: 86px;
    margin-bottom: 15px;
}
#loisirs h3{
    margin-left: 30px;
}
#loisirs i:hover{
    transform: rotate(360deg);
    color: black;
}
/* fin Loisirs styles */
/* Contact styles */

#contact .container{
    padding: 40px 40px;
}
#contact h2{
    padding: 30px;
    margin-bottom: 30px;
}
#contact form{
    padding:20px 20px;
}
/* fin contact styles */
/* fin main styles */
iframe{
    width: 100%;
}
footer{
    margin-top: 25px;
    color: white;
    text-align: center;
}

.mentions .social{
    padding: 30px;
    padding-left: 43px;
}
.social a{
    color: white;
}
.social i{
    padding-right: 30px;
}

#back-to-top {
    position: fixed;
    bottom: 100px;
    right: 10px;
    background-color: rgba(223, 223, 223, 0.747);
    width: 50px;
    height: 50px;
    line-height: 53px;
    text-align: center;
    font-size: 30px;
    border-radius: 30%;
    color: white;
    display: none;
}


/* Media queries */

@media screen and (max-device-width: 480px){
    body{
        overflow-x: hidden;
    }
    header{
        height: 600px;        
    }
    .bouton button{
        border-radius: 9px;
        width: 200px;
        background-color: rgba(252, 252, 252, 0.986);
        text-align: center;
        margin-left: 45px;
    }
    .realisation .row .col-md-4{
        padding: 30px ;
    }
    .annonce{
        width: 100%;
        margin-left: -187px;
        margin-top: -120px;
    }
    .annonce h2{
        margin-left: -77px;
    }
    #loisirs h3{
        margin-left: -40px;
    }
   }
@media only screen and (min-width : 480px) and (max-width: 780px){
  body{
        overflow-x: hidden;
    }
    header{
        height: 600px;        
    }
    .bouton button{
        border-radius: 9px;
        width: 200px;
        background-color: rgba(252, 252, 252, 0.986);
        text-align: center;
        margin-left: 87px;
    }
    .realisation .row .col-md-4{
        padding: 30px ;
    }
    .overlay-image .image {
        width: 100%;
        display: block;
        max-height: 303px;
        max-width: 390px;
        overflow: hidden;
        cursor: pointer !important;
    }
    
}

